/* src/App.css */

.App {
  position: relative;
  min-height: 100vh;
  background-color: #030328;
  text-align: center;
}

.title{
  color: #fff;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 600px;
  height: 110px;
  display: flex;
  overflow: hidden;
  background: rgb(60, 62, 68);
  margin: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-style: solid;
    border-image: linear-gradient( 1turn, rgba(116, 9, 121, 1), rgba(185, 8, 246, 1), rgba(91, 28, 230, 1) ) 1 / 3px;
}

.imgdiv {
  flex: 2 1 0%;
  width: 100%;
}

.card img {
  max-width: 100%;
  height: auto;
  margin-right: 16px;
}

.card-info {
  flex: 3 1 0%;
  position: relative;
  padding: 0.75rem;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .card {
    width: calc(25% - 32px);
  }
}

.load-more-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.load-more-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
